In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
security_data = pd.read_csv('MSFT_AAPL_stock.csv', index_col='Date')

In [3]:
security_data.index=pd.to_datetime(security_data.index)

In [4]:
security_data.head()

                 MSFT      AAPL
Date
1999-12-31  38.965767  3.303425
2000-01-03  38.903194  3.596616
2000-01-04  37.589046  3.293384
2000-01-05  37.985374  3.341579
2000-01-06  36.712940  3.052405