In [1]:
#Creating a dataframe with dictionary items within it as key value pairs. The keys are the column name
import pandas as pd
df = pd.DataFrame({'col1':[10,11,12,13],'col2':[100,200,300,400],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0    10   100  abc
1    11   200  def
2    12   300  ghi
3    13   400  xyz

In [2]:
def squareofanumber(value):
    return value**2

In [3]:
df['col1']

0    10
1    11
2    12
3    13
Name: col1, dtype: int64

In [4]:
df['col1'].apply(squareofanumber)

0    100
1    121
2    144
3    169
Name: col1, dtype: int64