In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
year = 2019
month = 8
day = 20
hour = 18
minute = 30
second = 15

In [5]:
date_time = datetime(year,month,day,hour,minute,second)

In [6]:
date_time

datetime.datetime(2019, 8, 20, 18, 30, 15)

In [7]:
date_time.day

20

In [8]:
list_date = [datetime(2018, 9, 24), datetime(2016, 9, 25)]

In [9]:
list_date

[datetime.datetime(2018, 9, 24, 0, 0), datetime.datetime(2016, 9, 25, 0, 0)]

In [10]:
dt_date = pd.DatetimeIndex(list_date)

In [11]:
dt_date

DatetimeIndex(['2018-09-24', '2016-09-25'], dtype='datetime64[ns]', freq=None)

In [12]:
data = np.random.randn(2,2)
print(data)
cols = ['X','Y']

[[ 0.64153321  0.06221129]
 [ 0.05503375 -0.03097711]]

In [13]:
df = pd.DataFrame(data,dt_date,cols)
df

                   X         Y
2018-09-24  0.641533  0.062211
2016-09-25  0.055034 -0.030977